<div>
  <h2 id="page-heading" data-cy="TipoMembresiaHeading">
    <span jhiTranslate="manitasclubApp.tipoMembresia.home.title">Tipo Membresias</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="manitasclubApp.tipoMembresia.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tipo-membresia"
        [routerLink]="['/tipo-membresia/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="manitasclubApp.tipoMembresia.home.createLabel"> Create a new Tipo Membresia </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tipoMembresias?.length === 0">
    <span jhiTranslate="manitasclubApp.tipoMembresia.home.notFound">No tipoMembresias found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tipoMembresias && tipoMembresias.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="manitasclubApp.tipoMembresia.nombreMembresia">Nombre Membresia</span></th>
          <th scope="col"><span jhiTranslate="manitasclubApp.tipoMembresia.valorMembresia">Valor Membresia</span></th>
          <th scope="col"><span jhiTranslate="manitasclubApp.tipoMembresia.descripcion">Descripcion</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tipoMembresia of tipoMembresias; trackBy: trackId" data-cy="entityTable">
          <td>{{ tipoMembresia.nombreMembresia }}</td>
          <td>{{ tipoMembresia.valorMembresia }}</td>
          <td>{{ tipoMembresia.descripcion }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tipo-membresia', tipoMembresia.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tipo-membresia', tipoMembresia.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tipoMembresia)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
