<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="abono">
      <h2 data-cy="abonoDetailsHeading"><span jhiTranslate="manitasclubApp.abono.detail.title">Abono</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ abono.id }}</span>
        </dd>
        <dt><span jhiTranslate="manitasclubApp.abono.idMembresia">Id Membresia</span></dt>
        <dd>
          <span>{{ abono.idMembresia }}</span>
        </dd>
        <dt><span jhiTranslate="manitasclubApp.abono.fechaAbono">Fecha Abono</span></dt>
        <dd>
          <span>{{ abono.fechaAbono | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="manitasclubApp.abono.valorAbono">Valor Abono</span></dt>
        <dd>
          <span>{{ abono.valorAbono }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/abono', abono.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
