<div>
  <h2 id="page-heading" data-cy="NinioHeading">
    <span jhiTranslate="manitasclubApp.ninio.home.title">Ninios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="manitasclubApp.ninio.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ninio"
        [routerLink]="['/ninio/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="manitasclubApp.ninio.home.createLabel"> Create a new Ninio </span>
      </button>
    </div>
  </h2>

  <mat-icon>more_vert</mat-icon>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ninios?.length === 0">
    <span jhiTranslate="manitasclubApp.ninio.home.notFound">No ninios found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ninios && ninios.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="manitasclubApp.ninio.nombres">Nombres</span></th>
          <th scope="col"><span jhiTranslate="manitasclubApp.ninio.apellidos">Apellidos</span></th>
          <th scope="col"><span jhiTranslate="manitasclubApp.ninio.doucumentoIdentidad">Doucumento Identidad</span></th>
          <th scope="col"><span jhiTranslate="manitasclubApp.ninio.fechaNacimiento">Fecha Nacimiento</span></th>
          <th scope="col"><span jhiTranslate="manitasclubApp.ninio.edad">Edad</span></th>
          <th scope="col"><span jhiTranslate="manitasclubApp.ninio.observacion">Observacion</span></th>
          <th scope="col"><span jhiTranslate="manitasclubApp.ninio.descripcionObservacion">Descripcion Observacion</span></th>
          <th scope="col"><span jhiTranslate="manitasclubApp.ninio.foto">Foto</span></th>
          <th scope="col"><span jhiTranslate="manitasclubApp.ninio.acudiente">Acudiente</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ninio of ninios; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ninio', ninio.id, 'view']">{{ ninio.id }}</a>
          </td>
          <td>{{ ninio.nombres }}</td>
          <td>{{ ninio.apellidos }}</td>
          <td>{{ ninio.doucumentoIdentidad }}</td>
          <td>{{ ninio.fechaNacimiento | formatMediumDatetime }}</td>
          <td>{{ ninio.edad }}</td>
          <td>{{ ninio.observacion }}</td>
          <td>{{ ninio.descripcionObservacion }}</td>
          <td>
            <a *ngIf="ninio.foto" (click)="openFile(ninio.foto, ninio.fotoContentType)">
              <img [src]="'data:' + ninio.fotoContentType + ';base64,' + ninio.foto" style="max-height: 30px" alt="ninio image" />
            </a>
            <span *ngIf="ninio.foto">{{ ninio.fotoContentType }}, {{ byteSize(ninio.foto) }}</span>
          </td>
          <td>
            <div *ngIf="ninio.acudiente">
              <a [routerLink]="['/acudiente', ninio.acudiente?.id, 'view']">{{ ninio.acudiente?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/ninio', ninio.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/ninio', ninio.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ninio)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
