<div>
  <h2 id="page-heading" data-cy="AcudienteHeading">
    <span jhiTranslate="manitasclubApp.acudiente.home.title">Acudientes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="manitasclubApp.acudiente.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-acudiente"
        [routerLink]="['/acudiente/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="manitasclubApp.acudiente.home.createLabel"> Create a new Acudiente </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="acudientes?.length === 0">
    <span jhiTranslate="manitasclubApp.acudiente.home.notFound">No acudientes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="acudientes && acudientes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="manitasclubApp.acudiente.nombre">Nombre</span></th>
          <th scope="col"><span jhiTranslate="manitasclubApp.acudiente.apellido">Apellido</span></th>
          <th scope="col"><span jhiTranslate="manitasclubApp.acudiente.tipoIdentifiacacion">Tipo Identifiacacion</span></th>
          <th scope="col"><span jhiTranslate="manitasclubApp.acudiente.direccion">Direccion</span></th>
          <th scope="col"><span jhiTranslate="manitasclubApp.acudiente.telefono">Telefono</span></th>
          <th scope="col"><span jhiTranslate="manitasclubApp.acudiente.email">Email</span></th>
          <th scope="col"><span jhiTranslate="manitasclubApp.acudiente.parentesco">Parentesco</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let acudiente of acudientes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/acudiente', acudiente.id, 'view']">{{ acudiente.id }}</a>
          </td>
          <td>{{ acudiente.nombre }}</td>
          <td>{{ acudiente.apellido }}</td>
          <td jhiTranslate="{{ 'manitasclubApp.TipoIdentificacion.' + acudiente.tipoIdentifiacacion }}">
            {{ acudiente.tipoIdentifiacacion }}
          </td>
          <td>{{ acudiente.direccion }}</td>
          <td>{{ acudiente.telefono }}</td>
          <td>{{ acudiente.email }}</td>
          <td>{{ acudiente.parentesco }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/acudiente', acudiente.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/acudiente', acudiente.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(acudiente)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
