<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-membresia-heading" data-cy="MembresiaCreateUpdateHeading" jhiTranslate="manitasclubApp.membresia.home.createOrEditLabel">
        Create or edit a Membresia
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-2">
          <div class="col-md-6">
            <label class="form-label" jhiTranslate="manitasclubApp.membresia.tipo" for="field_tipo">Tipo</label>
            <select
              class="form-select"
              id="field_idTipo"
              data-cy="idTipo"
              name="idTipo"
              formControlName="idTipo"
              (click)="calcularFechaFin()"
            >
              <option [ngValue]="null"></option>
              <option
                [ngValue]="tipoMembresiaOption.id"
                *ngFor="let tipoMembresiaOption of tiposCollection; trackBy: trackTipoMembresiaById"
              >
                {{ tipoMembresiaOption.nombreMembresia }}
              </option>
            </select>
          </div>

          <div class="col-md-6">
            <label class="form-label" jhiTranslate="manitasclubApp.membresia.cantidad" for="field_cantidad">Cantidad</label>
            <input
              type="number"
              class="form-control"
              name="cantidad"
              id="field_cantidad"
              data-cy="cantidad"
              (keyup)="calcularFechaFin()"
              formControlName="cantidad"
            />
          </div>
        </div>
      </div>

      <div class="row mb-2" *ngIf="this.editForm.get(['idTipo'])!.value && this.editForm.get(['cantidad'])!.value">
        <div class="col-md-6">
          <label class="form-label" jhiTranslate="manitasclubApp.membresia.fechaInicio" for="field_fechaInicio">Fecha Inicio</label>
          <div class="d-flex">
            <input
              id="field_fechaInicio"
              data-cy="fechaInicio"
              type="datetime-local"
              class="form-control"
              name="fechaInicio"
              formControlName="fechaInicio"
              placeholder="YYYY-MM-DD HH:mm"
              (click)="calcularFechaFin()"
            />
          </div>
        </div>

        <div class="col-md-6">
          <label class="form-label" jhiTranslate="manitasclubApp.membresia.fechaFin" for="field_fechaFin">Fecha Fin</label>
          <div class="d-flex">
            <input
              id="field_fechaFin"
              data-cy="fechaFin"
              type="datetime-local"
              class="form-control"
              name="fechaFin"
              formControlName="fechaFin"
              placeholder="YYYY-MM-DD HH:mm"
              readonly
            />
          </div>
        </div>
      </div>

      <div class="row mb-2" *ngIf="this.editForm.get(['idTipo'])!.value && this.editForm.get(['cantidad'])!.value">
        <div class="col-md-6">
          <label class="form-label" for="field_descripcion">Precio Membresia</label>
          <input
            type="text"
            class="form-control"
            name="precioMembresia"
            id="field_precioMembresia"
            data-cy="precioMembresia"
            readonly
            formControlName="precioMembresia"
          />
        </div>

        <div class="col-md-6">
          <label class="form-label" jhiTranslate="manitasclubApp.membresia.estado" for="field_estado">Estado</label>
          <select class="form-control" name="estado" formControlName="estado" id="field_estado" data-cy="estado" readonly>
            <option [ngValue]="null">{{ 'manitasclubApp.EstadoMembresia.null' | translate }}</option>
            <option *ngFor="let estadoMembresia of estadoMembresiaValues" [value]="estadoMembresia">
              {{ 'manitasclubApp.EstadoMembresia.' + estadoMembresia | translate }}
            </option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label class="form-label" jhiTranslate="manitasclubApp.membresia.ninio" for="field_ninio">Ninio</label>
          <select class="form-select" id="field_idNinio" data-cy="idNinio" name="idNinio" formControlName="idNinio">
            <option [ngValue]="null"></option>
            <option [ngValue]="ninioOption.id" *ngFor="let ninioOption of niniosCollection; trackBy: trackNinioById">
              {{ ninioOption.nombres }}
            </option>
          </select>
        </div>

        <div class="col-md-6">
          <label class="form-label" jhiTranslate="manitasclubApp.membresia.descripcion" for="field_descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
