<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-registro-diario-heading"
        data-cy="RegistroDiarioCreateUpdateHeading"
        jhiTranslate="manitasclubApp.registroDiario.home.createOrEditLabel"
      >
        Create or edit a Registro Diario
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-4">
          <div class="col-md-6">
            <label class="form-label" jhiTranslate="manitasclubApp.registroDiario.nombreNinio" for="field_nombreNinio">Nombre Ninio</label>
            <input
              type="text"
              class="form-control"
              name="nombreNinio"
              id="field_nombreNinio"
              data-cy="nombreNinio"
              formControlName="nombreNinio"
            />
          </div>

          <div class="col-md-6">
            <label class="form-label" jhiTranslate="manitasclubApp.registroDiario.nombreAcudiente" for="field_nombreAcudiente"
              >Nombre Acudiente</label
            >
            <input
              type="text"
              class="form-control"
              name="nombreAcudiente"
              id="field_nombreAcudiente"
              data-cy="nombreAcudiente"
              formControlName="nombreAcudiente"
            />
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-md-6">
            <label class="form-label" jhiTranslate="manitasclubApp.registroDiario.telefonoAcudiente" for="field_telefonoAcudiente"
              >Telefono Acudiente</label
            >
            <input
              type="text"
              class="form-control"
              name="telefonoAcudiente"
              id="field_telefonoAcudiente"
              data-cy="telefonoAcudiente"
              formControlName="telefonoAcudiente"
            />
          </div>

          <div class="col-md-6">
            <label class="form-label" jhiTranslate="manitasclubApp.registroDiario.valor" for="field_valor">Valor</label>
            <input type="number" class="form-control" name="valor" id="field_valor" data-cy="valor" formControlName="valor" />
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-md-4">
            <label class="form-label" jhiTranslate="manitasclubApp.registroDiario.fechaIngreso" for="field_fechaIngreso"
              >Fecha Ingreso</label
            >
            <div class="d-flex">
              <input
                id="field_fechaIngreso"
                data-cy="fechaIngreso"
                type="datetime-local"
                class="form-control"
                name="fechaIngreso"
                formControlName="fechaIngreso"
                placeholder="YYYY-MM-DD HH:mm"
              />
            </div>
          </div>

          <div class="col-md-4">
            <label class="form-label" jhiTranslate="manitasclubApp.registroDiario.horaEntrada" for="field_horaEntrada">Hora Entrada</label>
            <input
              type="text"
              class="form-control"
              name="horaEntrada"
              id="field_horaEntrada"
              data-cy="horaEntrada"
              formControlName="horaEntrada"
            />
          </div>

          <div class="col-md-4">
            <label class="form-label" jhiTranslate="manitasclubApp.registroDiario.horaSalida" for="field_horaSalida">Hora Salida</label>
            <input
              type="text"
              class="form-control"
              name="horaSalida"
              id="field_horaSalida"
              data-cy="horaSalida"
              formControlName="horaSalida"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
