<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="gastos">
      <h2 data-cy="gastosDetailsHeading"><span jhiTranslate="manitasclubApp.gastos.detail.title">Gastos</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ gastos.id }}</span>
        </dd>
        <dt><span jhiTranslate="manitasclubApp.gastos.fechaCreacion">Fecha Creacion</span></dt>
        <dd>
          <span>{{ gastos.fechaCreacion | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="manitasclubApp.gastos.valor">Valor</span></dt>
        <dd>
          <span>{{ gastos.valor }}</span>
        </dd>
        <dt><span jhiTranslate="manitasclubApp.gastos.descripcion">Descripcion</span></dt>
        <dd>
          <span>{{ gastos.descripcion }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/gastos', gastos.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
