<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-tipo-membresia-heading"
        data-cy="TipoMembresiaCreateUpdateHeading"
        jhiTranslate="manitasclubApp.tipoMembresia.home.createOrEditLabel"
      >
        Create or edit a Tipo Membresia
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row">
          <div class="col-md-6">
            <label class="form-label" jhiTranslate="manitasclubApp.tipoMembresia.nombreMembresia" for="field_nombreMembresia"
              >Nombre Membresia</label
            >
            <input
              type="text"
              class="form-control"
              name="nombreMembresia"
              id="field_nombreMembresia"
              data-cy="nombreMembresia"
              formControlName="nombreMembresia"
            />
          </div>

          <div class="col-md-6">
            <label class="form-label" jhiTranslate="manitasclubApp.tipoMembresia.valorMembresia" for="field_valorMembresia"
              >Valor Membresia</label
            >
            <input
              type="number"
              class="form-control"
              name="valorMembresia"
              id="field_valorMembresia"
              data-cy="valorMembresia"
              formControlName="valorMembresia"
            />
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label" jhiTranslate="manitasclubApp.tipoMembresia.descripcion" for="field_descripcion">Descripcion</label>
            <input
              type="text"
              class="form-control"
              name="descripcion"
              id="field_descripcion"
              data-cy="descripcion"
              formControlName="descripcion"
            />
          </div>
        </div>
      </div>
      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
