<div>
  <h2 id="page-heading" data-cy="GastosHeading">
    <span jhiTranslate="manitasclubApp.gastos.home.title">Gastos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="manitasclubApp.gastos.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-gastos"
        [routerLink]="['/gastos/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="manitasclubApp.gastos.home.createLabel"> Create a new Gastos </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="gastos?.length === 0">
    <span jhiTranslate="manitasclubApp.gastos.home.notFound">No gastos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="gastos && gastos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="manitasclubApp.gastos.fechaCreacion">Fecha Creacion</span></th>
          <th scope="col"><span jhiTranslate="manitasclubApp.gastos.valor">Valor</span></th>
          <th scope="col"><span jhiTranslate="manitasclubApp.gastos.descripcion">Descripcion</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let gastos of gastos; trackBy: trackId" data-cy="entityTable">
          <td>{{ gastos.fechaCreacion | formatMediumDatetime }}</td>
          <td>{{ gastos.valor }}</td>
          <td>{{ gastos.descripcion }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/gastos', gastos.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/gastos', gastos.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(gastos)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
