<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-caja-heading" data-cy="CajaCreateUpdateHeading" jhiTranslate="manitasclubApp.caja.home.createOrEditLabel">
        Create or edit a Caja
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label" jhiTranslate="manitasclubApp.membresia.fechaCreacion" for="field_fechaCreacion">Fecha Creacion</label>
            <div class="d-flex">
              <input
                id="field_fechaCreacion"
                data-cy="fechaCreacion"
                type="datetime-local"
                class="form-control"
                name="fechaCreacion"
                formControlName="fechaCreacion"
                placeholder="YYYY-MM-DD HH:mm"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label class="form-label" jhiTranslate="manitasclubApp.caja.valorDia" for="field_valorDia">Valor Dia</label>
            <input
              type="number"
              class="form-control"
              name="valorDia"
              id="field_valorDia"
              data-cy="valorDia"
              formControlName="valorDia"
              readonly
            />
          </div>

          <div class="col-md-6">
            <label class="form-label" jhiTranslate="manitasclubApp.caja.valorRegistrado" for="field_valorRegistrado"
              >Valor Registrado</label
            >
            <input
              type="number"
              class="form-control"
              name="valorRegistrado"
              id="field_valorRegistrado"
              data-cy="valorRegistrado"
              formControlName="valorRegistrado"
              (keyup)="calcularDiferencia()"
            />
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-md-6">
            <label class="form-label" jhiTranslate="manitasclubApp.caja.diferencia" for="field_diferencia">Diferencia</label>
            <input
              type="number"
              class="form-control"
              name="diferencia"
              id="field_diferencia"
              data-cy="diferencia"
              formControlName="diferencia"
              readonly
            />
          </div>

          <div class="col-md-6">
            <label class="form-label" jhiTranslate="manitasclubApp.caja.estado" for="field_estado">Estado</label>
            <input
              class="form-control"
              [disabled]="true"
              name="estado"
              formControlName="estado"
              id="field_estado"
              data-cy="estado"
              readonly
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
