<div class="row">
  <div class="col-md-4">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-4">
    <h1 class="display-4">Pagina de inicio</h1>
    <h4 class="lead mb-5">Selecciona la opcion que estas buscando</h4>
    <p class="mb-5">
      <a class="btn btn-outline-info btn-lg" [routerLink]="['/ninio']" role="button">
        <mat-icon style="font-size: 150%">child_care</mat-icon> <span class="ms-2">Gestion de niños</span>
      </a>
    </p>
    <p class="mb-5">
      <a class="btn btn-outline-info btn-lg" [routerLink]="['/membresia']" role="button">
        <mat-icon class="mat-18">pending_actions</mat-icon> <span>Gestion de Inscripcion</span>
      </a>
    </p>
    <p class="mb-5">
      <a class="btn btn-outline-info btn-lg" [routerLink]="['/registro-diario']" role="button">
        <mat-icon>app_registration</mat-icon>Rregistros Diarios
      </a>
    </p>

    <p>
      <a class="btn btn-outline-info btn-lg" [routerLink]="['/acudiente']" role="button">
        <mat-icon>family_restroom</mat-icon> <span class="ms-2">Acudientes</span>
      </a>
    </p>
  </div>

  <div class="col-md-3" style="margin-top: 145px">
    <p class="mb-5">
      <a class="btn btn-outline-info btn-lg" [routerLink]="['/caja']" role="button">
        <mat-icon style="font-size: 150%">point_of_sale</mat-icon> <span class="ms-2">Gestion de Caja</span>
      </a>
    </p>
    <p class="mb-5">
      <a class="btn btn-outline-info btn-lg" [routerLink]="['/gastos']" role="button">
        <mat-icon class="mat-18">shopping_cart</mat-icon> <span>Gestion de Gastos</span>
      </a>
    </p>
    <p class="mb-5">
      <a class="btn btn-outline-info btn-lg" [routerLink]="['/total-gastos']" role="button">
        <mat-icon>attach_money</mat-icon>Total Gastos
      </a>
    </p>
  </div>
</div>
