<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-gastos-heading" data-cy="GastosCreateUpdateHeading" jhiTranslate="manitasclubApp.gastos.home.createOrEditLabel">
        Create or edit a Gastos
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-4">
          <div class="col-md-6">
            <label class="form-label" jhiTranslate="manitasclubApp.gastos.fechaCreacion" for="field_fechaCreacion">Fecha Creacion</label>
            <div class="d-flex">
              <input
                id="field_fechaCreacion"
                data-cy="fechaCreacion"
                type="datetime-local"
                class="form-control"
                name="fechaCreacion"
                formControlName="fechaCreacion"
                placeholder="YYYY-MM-DD HH:mm"
              />
            </div>
          </div>

          <div class="col-md-6">
            <label class="form-label" jhiTranslate="manitasclubApp.gastos.valor" for="field_valor">Valor</label>
            <input type="number" class="form-control" name="valor" id="field_valor" data-cy="valor" formControlName="valor" />
          </div>
        </div>

        <div class="row mb-4">
          <label class="form-label" jhiTranslate="manitasclubApp.gastos.descripcion" for="field_descripcion">Descripcion</label>
          <textarea
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          ></textarea>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
