<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-total-gastos-heading"
        data-cy="TotalGastosCreateUpdateHeading"
        jhiTranslate="manitasclubApp.totalGastos.home.createOrEditLabel"
      >
        Create or edit a Total Gastos
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="manitasclubApp.totalGastos.fechaCreacion" for="field_fechaCreacion">Fecha Creacion</label>
          <div class="d-flex">
            <input
              id="field_fechaCreacion"
              data-cy="fechaCreacion"
              type="datetime-local"
              class="form-control"
              name="fechaCreacion"
              formControlName="fechaCreacion"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="manitasclubApp.totalGastos.valorInicial" for="field_valorInicial">Valor Inicial</label>
          <input
            type="number"
            class="form-control"
            name="valorInicial"
            id="field_valorInicial"
            data-cy="valorInicial"
            formControlName="valorInicial"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="manitasclubApp.totalGastos.valorTotalGastos" for="field_valorTotalGastos"
            >Valor Total Gastos</label
          >
          <input
            type="number"
            class="form-control"
            name="valorTotalGastos"
            id="field_valorTotalGastos"
            data-cy="valorTotalGastos"
            formControlName="valorTotalGastos"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="manitasclubApp.totalGastos.diferencia" for="field_diferencia">Diferencia</label>
          <input
            type="number"
            class="form-control"
            name="diferencia"
            id="field_diferencia"
            data-cy="diferencia"
            formControlName="diferencia"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="manitasclubApp.totalGastos.estado" for="field_estado">Estado</label>
          <select class="form-control" name="estado" formControlName="estado" id="field_estado" data-cy="estado">
            <option [ngValue]="null">{{ 'manitasclubApp.EstadoCaja.null' | translate }}</option>
            <option *ngFor="let estadoCaja of estadoCajaValues" [value]="estadoCaja">
              {{ 'manitasclubApp.EstadoCaja.' + estadoCaja | translate }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
