<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="tipoMembresia">
      <h2 data-cy="tipoMembresiaDetailsHeading"><span jhiTranslate="manitasclubApp.tipoMembresia.detail.title">Tipo Membresia</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ tipoMembresia.id }}</span>
        </dd>
        <dt><span jhiTranslate="manitasclubApp.tipoMembresia.nombreMembresia">Nombre Membresia</span></dt>
        <dd>
          <span>{{ tipoMembresia.nombreMembresia }}</span>
        </dd>
        <dt><span jhiTranslate="manitasclubApp.tipoMembresia.valorMembresia">Valor Membresia</span></dt>
        <dd>
          <span>{{ tipoMembresia.valorMembresia }}</span>
        </dd>
        <dt><span jhiTranslate="manitasclubApp.tipoMembresia.descripcion">Descripcion</span></dt>
        <dd>
          <span>{{ tipoMembresia.descripcion }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/tipo-membresia', tipoMembresia.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
